.specificaties {
  padding: 20px;
  background: #1bbc9b;
  width: 55%;
  margin: 0 auto;
  color: white;

  img {
    background: white;
    width: 100%;
    max-width: 300px;
    height: auto;
    float: right;
    margin-bottom: 20px;
  }
}

