$bp-desktop-hd-extra: '1920px';

$bp-desktop-hd: '1200px';

$bp-desktop: '1000px';

$bp-tablet: '750px';

$bp-phablet: '550px';

$bp-mobile: '320px';

$breakpoints: (
        'desktop-hd-extra': (min-width: 1920px),
        'desktop-extra-large': (min-width: 1680px),
        'desktop-large': (min-width: 1440px),
        'desktop-hd': (min-width: 1215px),
        'desktop': (min-width: 1214px),
        'desktop-mini': (min-width: 1000px),
        'tablet': (min-width: 750px),
        'phablet': (min-width: 550px),
        'mobile': (min-width: 320px),
        'mobile-high': (max-height: 780px)
);
